/* .adicionar {
    border-radius: 10px;
    color: #76d899;
    padding: 10px;
    background-color: #124a28;
    font-size: 16px;
    border-color: #042713;
}

.adicionar:hover{
    background-color: #042713;
}

.excluir {
    border-radius: 10px;
    color: #f3afab;
    padding: 10px;
    background-color: #6e1c1c;
    font-size: 16px;
    border-color: #511111;
}

.excluir:hover{
    background-color: #511111;
}

.buscar {
    border-radius: 10px;
    color: #cbdef0;
    padding: 10px;
    background-color: #225ad5;
    font-size: 16px;
    border-color: #1a3478;
}

.buscar:hover{
    background-color: #1a3478;
} */