/* .icon-view {
    color: #00000aa6 !important;
    font-size: 22px !important;
}

.icon-edit {
    color: #4caf50 !important;
    font-size: 22px !important;
}

.icon-delete {
    color: #f44336 !important;
    font-size: 22px !important;
} */


.cidade-container {
    width:100%; 
    padding: 20px;    
}
